@define-mixin atSmall {
    @media (min-width: 560px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 767px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1200px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@define-mixin fullWidth-override {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;



}